*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}


nav,footer,header,aside{display: block;}


html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}


input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}


h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
body{
    font-family: 'OpenSans', sans-serif;
}
 * {
     box-sizing: border-box;
     
 }
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

 /*Header========
======================*/
.header{
    width: 100%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    .header__inner{
        margin: 0 135px 0 135px;

        display: flex;
        justify-content: space-between;
        align-items: center;
        .header__nav{
          ul{
              display: flex;
          }  
           .nav_link {            
             :hover{           
                background-color: #f8f9fb;
                color: #49cbcd;
                border-bottom: 3px solid #49cbcd; ;
                border-top: 1px solid white;
                }
                
            }
                             
           .nav_link a{
            width: 85px;
            height: 97px;  

            display: flex;
            justify-content: center;
            align-items: center;       

            font-size: 15px;            
            line-height: 24px;
            font-weight: 400;
            color: #484c55;
           }
       }
    }
    .header__banner{
        
        height:566px;

        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;

        background-image: url(../img/banner.png);
        background-repeat: no-repeat;
        background-size: cover;
        
        .banner__title{
            padding-top: 155px;
            margin-bottom: 34px;
            font-size: 63px;
            line-height: 24px;
            font-weight: 600;
            color: #ffffff;
        }
        .banner__text{
            font-size: 23px;
            line-height: 37px;
            font-weight: 400;
            color: #ffffff;
           
        }
        .banner__slider{
            width: 96%;

            display: flex;
            justify-content: space-between;
        }
        .banner__slider_left, .banner__slider_right{
            background: none;
        }

        .banner__button{
            
            width: 231px;
            height: 69px;

            border: 3px solid #ffffff;
            border-radius: 5px;
            background: none;

            font-size: 26px;
            line-height: 24px;
            font-weight: 600;
            letter-spacing: 0.02em;
            color: #ffffff;
            &:hover{
                background-color: rgb(0, 255, 170); ;
                transition: 5s;
            }
        }
    }
        
}

/*services===
======================*/
.services{
    height: 517px;

    display: flex;
    justify-content: center;
    .services__item{
        width: 247px;

        margin-left: 60px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        
    }
    .services__item:first-child{
        margin-left: 0px;
    }
    .services__img{
        
        :hover{
            
            border-radius:  50%;
            background-color: rgb(255, 115, 0);
        }
    }
    .services__title{
        padding-top: 49px;

        font-size: 22px;
        line-height: 24px;
        font-weight: 400;
        color: #4e525d;         
       
    }
    .services__text{
        margin-top: 14px;

        font-size: 14px;
        line-height: 26px;
        font-weight: 400;
        color: #4e525d;
    }
    .services__button{
        
        margin-top: 20px;

        width: 97px;
        height: 30px;

        background-color: #49cbcd;

        border-radius: 5px;
        font-size: 14px;
        line-height: 26px;
        font-weight: 400;
        color: #ffffff;
        
    }
}

/*portfolio=======
=========================*/
.portfolio{
    padding: 55px 0 103px 0;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: #f1f1f1;
    .portfolio__title{
        padding-bottom: 50px;
        font-size: 42px;
        line-height: 24px;
        font-weight: 400;
        color: #4e525d;
    }
    .portfolio__gallery{      
        width: 1220px;  
        margin-bottom: 42px;    
        .gallery__blok-one{
            display: flex;
            margin-bottom: 30px; 
                     
           .blok-one__item{
               margin-left: 30px;           
                             
               overflow: hidden;               
                      
            } 
            .blok-one__item img{
                 &:hover{
                   transform:scale(1.2);
                    transition: 3s;
                }        
            }
           
        }  
         .gallery__blok-two{
            display: flex;
            .blok-two__item{
                margin-left: 30px; 
                overflow: hidden;               
            }
        }
        .gallery__blok-two img{
            &:hover{
                transform:scale(1.2);
                transition: 3s;
             }  
        }

    }     
    
    .portfolio__button{
        width: 232px;
        height: 63px;
        background-color: #49cbcd;
        border-radius: 5px;
        font-size: 24px;
        line-height: 27px;
        font-weight: 600;
        
        animation-name: colorful;
        animation-duration: 7s;
        animation-iteration-count:infinite;
        color: #ffffff;        
            &:hover{
                color: #484c55
            }
        
        @keyframes colorful {
            25%{
                background-color: rgb(255, 115, 0);
            }
            50%{
                background-color: rgb(51, 255, 0);
            }
            75%{
                
                background-color: rgb(0, 255, 170);
            }
            100%{
             background-color:#49cbcd;
            }
        }
    }
    

}

/*Team=======
====================*/
.team{    
    display: flex;
    flex-direction: column;
    
    align-items: center;
    .team__title{
        padding-top: 96px;
        font-size: 42px;
        line-height: 24px;
        font-weight: 400;
        color: #4e525d;
    }
    .team__inner{
        width: 1118px;
        margin: 140px 0 105px 0;

        display: flex;        
        justify-content: space-between;
        .team__item{
            width: 247px;
            

            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            .team__img{
                width: 201px;
                position: relative;                                              

               
            }
            .item__information{
                margin-top: 70px;
                font-size: 22px;
                line-height: 24px;
                font-weight: 400;
                color: #4e525d;
            }
            .information_profession{
                font-size: 14px;
            }
            .item__text{
                margin-top: 23px;
                font-size: 14px;
                line-height: 26px;
                font-weight: 400;
                color: #4e525d;
            }
        }
    }
}
/*Price-list=========
=========================*/
.price-list{
    width: 100%;
    height: 738px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #f1f1f1;
    .price-list__container{
        width: 1173px;

        display: flex;
        justify-content: space-between;
        
        .price-list__item{
            width: 370px;
            text-align: center;
             &:hover .price-list__title{
                background-color: #49cbcd; 
             }
             &:hover .price-list__button{
                background-color: #49cbcd;
             }
            .price-list__title{
                height: 76px;
                
                padding-top: 15px;

                background-color: #485460;
                
                font-size: 26px;
                line-height: 48px;
                font-weight: 400;
                color: #ffffff;
                &:hover{
                // background-color: #49cbcd;
                } 
             }
            }
            .price-list__subtitle{
                height: 76px;

                padding-top: 15px;

                
                font-size: 20px;
                line-height: 48px;
                font-weight: 400;
                color: #485460;   

                background: #f8f9fb; 
                
                        
            }
            .price-list__text{
                background-color: #ffffff;
               
                border-top: 1px solid #ecf0f1;
                
                font-size: 14px;
                line-height: 45px;
                font-weight: 400;
                color: #8c9299;

            }
            .price-list__btn{
                height: 99px;

                padding-top: 29px;

                background-color: #f8f9fb;
               
            }
            .price-list__button{
                width: 170px;
                height: 40px;

                font-size: 17px;
                line-height: 45px;
                font-weight: 600;
                border-radius: 5px;
                color: #ffffff;
                
                background-color: #788492;
                &:hover{
                    background-color: #49cbcd;
                }
                &:hover .price-list__title{
                    background-color: #49cbcd;
                }
            }
    }
}

/*Comment====
=======================*/
.comment{
    height: 469px;
    padding-top: 147px;
    
    background-color: #ffffff;
    text-align: center;
   
    display: flex;
    align-items: center;
    flex-direction: column;
    
    .comment__title{
        font-size: 42px;
        line-height: 24px;
        font-weight: 400;
        color: #4e525d;
    }
    .comment__continer{
        width: 1132px;
        margin-top: 37px;
                
        display: flex;

        // position: relative;
       .comment__button{
        //    position: absolute;
       }
       .comment__button_right{
            // left:99%;
       }
       .comment__blog{
           margin: 0 auto;
           width: 643px;
           height: 139px;
          .comment__text{
            font-size: 19px;
            line-height: 30px;
            font-weight: 400;
            color: #4e525d;
          } 
          span{
            font-size: 21px;
            color: #9a8faf;
          }
       }
       
    }

}

/*Footer=====
==================*/
.footer{
    padding-top: 107px;
    height: 691px;

    display: flex;    
    align-items: center;
    flex-direction: column;

    
    background:url(../img/footer_baner_.png) no-repeat;
    .footer__title{
        
        font-size: 42px;
        line-height: 24px;
        font-weight: 400;
        color: #ffffff;
    }
    .footer__continer{
        width: 1173px;

        margin-top: 118px;
        
        display: flex;        
        
        .footer__continer_left{
            width: 50%;

            .footer__subtitle{
                padding-bottom: 16px;

                font-size: 24px;
                line-height: 24px;
                font-weight: 400;
                color: #ffffff;
            }
            .footer__text{
                width: 435px;
                height: 30px;

                font-size: 14px;
                line-height: 21px;
                font-weight: 400;
                color: #ffffff;
            }
            .footer__icon{
                margin: 51px 0 21px 0;
                
            }
            .footer__contact{
                font-size: 14px;
                line-height: 24px;
                font-weight: 400;
                color: #bface2;
            }

               
        }
        .footer__continer_right{
            width: 50%;
            height: 275px;
            
            .footer__input{
                width: 270px;
                height: 44px;

                margin: 0px 0 30px 20px;

                border-radius: 5px;
                background-color: #ffffff;
                &:first-child{
                    margin: 0;
                }
            }
            .footer__comment{
                width: 570px;
                height: 180px;

                border-radius: 5px;
                background-color: #ffffff;
            }
            .footer__button{
                width: 170px;
                height: 50px;

                float: right;

                margin: 25px 10px 0 0;

                border-radius: 5px;
                font-size: 22px;
                line-height: 24px;
                font-weight: 400;
                color: #ffffff;
                background-color: #49cbcd;              
            }

        }
    }

}