@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: 'OpenSans', sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header .header__inner {
  margin: 0 135px 0 135px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header__inner .header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .header__inner .header__nav .nav_link {
  width: 85px;
  height: 97px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header__inner .header__nav .nav_link :hover {
  width: 85px;
  height: 97px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f8f9fb;
  color: #49cbcd;
  border-bottom: 3px solid #49cbcd;
}
.header .header__inner .header__nav .nav_link a {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #484c55;
}
.header .header__banner {
  height: 566px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../img/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.header .header__banner .banner__title {
  padding-top: 155px;
  margin-bottom: 34px;
  font-size: 63px;
  line-height: 24px;
  font-weight: 600;
  color: #ffffff;
}
.header .header__banner .banner__text {
  font-size: 23px;
  line-height: 37px;
  font-weight: 400;
  color: #ffffff;
}
.header .header__banner .banner__slider {
  width: 96%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .header__banner .banner__slider--left, .header .header__banner .banner__slider--right {
  background: none;
}
.header .header__banner .banner__button {
  width: 231px;
  height: 69px;
  border: 3px solid #ffffff;
  border-radius: 5px;
  background: none;
  font-size: 26px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 0.02em;
  color: #ffffff;
}
