@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: 'OpenSans', sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

 /*Header========
======================*/
.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header .header__inner {
  margin: 0 135px 0 135px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header__inner .header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .header__inner .header__nav .nav_link :hover {
  background-color: #f8f9fb;
  color: #49cbcd;
  border-bottom: 3px solid #49cbcd;
  border-top: 1px solid white;
}
.header .header__inner .header__nav .nav_link a {
  width: 85px;
  height: 97px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #484c55;
}
.header .header__banner {
  height: 566px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../img/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.header .header__banner .banner__title {
  padding-top: 155px;
  margin-bottom: 34px;
  font-size: 63px;
  line-height: 24px;
  font-weight: 600;
  color: #ffffff;
}
.header .header__banner .banner__text {
  font-size: 23px;
  line-height: 37px;
  font-weight: 400;
  color: #ffffff;
}
.header .header__banner .banner__slider {
  width: 96%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .header__banner .banner__slider--left, .header .header__banner .banner__slider--right {
  background: none;
}
.header .header__banner .banner__button {
  width: 231px;
  height: 69px;
  border: 3px solid #ffffff;
  border-radius: 5px;
  background: none;
  font-size: 26px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.header .header__banner .banner__button:hover {
  background-color: #00ffaa;
  -webkit-transition: 5s;
  transition: 5s;
}

/*services===
======================*/
.services {
  height: 517px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.services .services__item {
  width: 247px;
  margin-left: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.services .services__item:first-child {
  margin-left: 0px;
}
.services .services__img :hover {
  border-radius: 50%;
  background-color: #ff7300;
}
.services .services__title {
  padding-top: 49px;
  font-size: 22px;
  line-height: 24px;
  font-weight: 400;
  color: #4e525d;
}
.services .services__text {
  margin-top: 14px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #4e525d;
}
.services .services__button {
  margin-top: 20px;
  width: 97px;
  height: 30px;
  background-color: #49cbcd;
  border-radius: 5px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #ffffff;
}

/*portfolio=======
=========================*/
.portfolio {
  padding: 55px 0 103px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f1f1f1;
}
.portfolio .portfolio__title {
  padding-bottom: 50px;
  font-size: 42px;
  line-height: 24px;
  font-weight: 400;
  color: #4e525d;
}
.portfolio .portfolio__gallery {
  width: 1220px;
  margin-bottom: 42px;
}
.portfolio .portfolio__gallery .gallery__blok-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}
.portfolio .portfolio__gallery .gallery__blok-one .blok-one__item {
  margin-left: 30px;
  overflow: hidden;
}
.portfolio .portfolio__gallery .gallery__blok-one .blok-one__item img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 3s;
  transition: 3s;
}
.portfolio .portfolio__gallery .gallery__blok-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.portfolio .portfolio__gallery .gallery__blok-two .blok-two__item {
  margin-left: 30px;
  overflow: hidden;
}
.portfolio .portfolio__gallery .gallery__blok-two img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 3s;
  transition: 3s;
}
.portfolio .portfolio__button {
  width: 232px;
  height: 63px;
  background-color: #49cbcd;
  border-radius: 5px;
  font-size: 24px;
  line-height: 27px;
  font-weight: 600;
  -webkit-animation-name: colorful;
          animation-name: colorful;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  color: #ffffff;
}
.portfolio .portfolio__button:hover {
  color: #484c55;
}
@-webkit-keyframes colorful {
  25% {
    background-color: #ff7300;
  }
  50% {
    background-color: #33ff00;
  }
  75% {
    background-color: #00ffaa;
  }
  100% {
    background-color: #49cbcd;
  }
}
@keyframes colorful {
  25% {
    background-color: #ff7300;
  }
  50% {
    background-color: #33ff00;
  }
  75% {
    background-color: #00ffaa;
  }
  100% {
    background-color: #49cbcd;
  }
}
/*Team=======
====================*/
.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.team .team__title {
  padding-top: 96px;
  font-size: 42px;
  line-height: 24px;
  font-weight: 400;
  color: #4e525d;
}
.team .team__inner {
  width: 1118px;
  margin: 140px 0 105px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.team .team__inner .team__item {
  width: 247px;
  text-align: center;
}
.team .team__inner .team__item .team__img {
  outline: 1px solid red;
  position: relative;
}
.team .team__inner .team__item .item__information {
  margin-top: 70px;
  font-size: 22px;
  line-height: 24px;
  font-weight: 400;
  color: #4e525d;
}
.team .team__inner .team__item .information_profession {
  font-size: 14px;
}
.team .team__inner .team__item .item__text {
  margin-top: 23px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #4e525d;
}
